<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11</key>
            <dict>
                <key>frame</key>
                <string>{{263,257},{124,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{124,244}</string>
            </dict>
            <key>12</key>
            <dict>
                <key>frame</key>
                <string>{{263,11},{124,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{124,244}</string>
            </dict>
            <key>13</key>
            <dict>
                <key>frame</key>
                <string>{{137,257},{124,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{124,244}</string>
            </dict>
            <key>14</key>
            <dict>
                <key>frame</key>
                <string>{{137,11},{124,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{124,244}</string>
            </dict>
            <key>15</key>
            <dict>
                <key>frame</key>
                <string>{{11,257},{124,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{124,244}</string>
            </dict>
            <key>16</key>
            <dict>
                <key>frame</key>
                <string>{{11,11},{124,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,244}}</string>
                <key>sourceSize</key>
                <string>{124,244}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:063bd9ea973f0ca5a354cccee0a85d82$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
